//Navbar

.site-logo {
    max-width: 120px;
}

header {
    box-shadow: 0px 3px 0px rgba(64, 131, 77, 0.1), 0px 6px 0px rgba(64, 131, 77, 0.1), 0px 9px 0px rgba(64, 131, 77, 0.1), 0px 12px 0px rgba(64, 131, 77, 0.1);
    position: relative;
    z-index: 1;
    min-height: $navbarHeight
}

.pages {
    min-height: calc(100vh - $navbarHeight);
}

/* Forms */

.card {
    width: fit-content;
    box-shadow: 5px 5px 5px 0px rgba(64, 131, 77, 0.2), inset 4px 4px 15px 0px rgba(64, 131, 77, 0.2), 5px 5px 15px 5px rgba(64, 131, 77, 0.1);
    background-color: $secondary;
}


input, select {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.small-input {
    width: 47%;
}

form.signup,
form.login {
    max-width: 400px;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
}