div.error {
    padding: 10px;
    background: #ffefef;
    border: 1px solid $error;
    color: $error;
    border-radius: 4px;
    margin: 20px 0;
  }
  input.error {
    border: 1px solid $error;
  }